@import "https://unpkg.com/@typehaus/metropolis";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Metropolis";
}

@layer components {
  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 15px;
  }

  .aLinks {
    font-size: 14px;
  }

  .transition1 {
    transition: 0.3s all;
  }

  .herobackround {
    background-color: #e7f3ff;
    min-height: 100vh;
  }

  .heightf {
    height: calc(100vh - 112px);
  }
  .backgroundCeo {
    background: url(./assets/back.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
