@import "https://unpkg.com/@typehaus/metropolis";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Metropolis";
}

@layer components {
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
  .aLinks {
    font-size: 14px;
  }
  .transition1 {
    transition: 0.3s all;
  }
  .herobackround {
    background-color: #e7f3ff;
    min-height: 100vh;
  }
}
